services:
    service:
        build:
          context: .
          dockerfile: Dockerfile.dev
        ports:
          - 8761:80
        environment:
          SERVER_PORT: 80
        networks:
          - sail 
        volumes:
          - ./src:/app/src
          - .env:/app/.env
          - ./pom.xml:/app/pom.xml
          - ./target:/app/target
networks:
    sail:
        external: true
